//Mixins

@mixin flex-direction($direction) {
  display: flex;
  flex-direction: $direction;
}

//Colors
//Primary
$primary: #10317D;
$primary-shade: #204056;
$primary-tint: #6a7b89;

//Secondary
$secondary: #F4954A;
$secondary-shade: #d88d36;
$secondary-tint: #ffb257;

//Greys
$off-white: #F1F2F2;
$light-grey: #E6E7E8;
$grey: #BCBEC0;
$darker-grey: #939598;
$dark-grey: #777777;

// Button
@mixin button-primary {
  background: $secondary;
  color: $off-white;
  padding: 20px 25px;
  border: none;
  margin: 10px 0;
  width: 100%;
  border-radius: 2px;
  font-weight: 200;
  font-size: 1em;
  text-transform: uppercase;
  &:hover {
    background: $secondary-tint;
    cursor: pointer;
  }
}